/* .contact-form{
    height: 500px;

} */
.form{
    width: 700px;
    /* margin: 0 auto; */
    margin: 0 auto;
    text-align: center;
}
.form2{
    height: 80px;
}
.form p{
    position: relative;
    width: 240px;
    margin: 0 auto;
    padding-bottom: 5px;
}
.form p span{
    position: absolute;
    left: 200px;
    width: 40px;
    color: #FEA96B;
    font-weight: bold;
}
option{
    background-color: #FEA96B;
    color: white;
    font-weight: bold;
}
.input{
    height: 30px;
}
.textarea{
    height: 300px;
}
input,textarea,select{
    margin: 0 auto;
    width: 400px;
}
.form-text{
    height: 350px;
}
@media screen and (max-width: 850px){
    .form label{
        display: block;
        width: 100%;
        text-align: center;
    }
    .form input{
        display: block;
    }
}