.box{
    padding: 50px 0px;
}
h2{
    padding-bottom: 50px;
}
.news-contents{
    width: 600px;
    margin: 0px auto 20px auto;
    display: flex;
    height: 40px;
    line-height: 40px;
    border-bottom: solid 1px #FEA96B;
}
.news-title{
    padding: 0px 80px 0px 20px;
}
.news-section{
    padding-right: 80px;
}
.campaign-contents{
    display: flex;
}
.campaign-flame{
    position: relative;
    width: 33.33%;
    /* background-color: rgb(254, 169, 107,50%); */
}
.campaign-content{
    width: 100%;
    height: 100%;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
.campaign-box{
    padding: 50px 50px;
    word-break: break-all;
}
.campaign-img{
    text-align: center;
}
.campaign-img img{
    width: 150px;
    margin-bottom: 50px;
}
.text1{
    line-height: 1.5;
    padding-bottom: 30px;
}
.text2{
    text-align: center;
}
.campaign1{
    background-color: rgb(254, 169, 107,50%);
}
.campaign-flame2{
    background-color: rgb(254, 169, 107,50%);
}
.campaign2{
    background-color: #FFF8C4;
}
.campaign-flame3{
    background-color: #FFF8C4;
}
.campaign3{
    background-color: #F8F7F3;
}

@media screen and (max-width: 700px){
    .news-contents{
        width: 65%;
        display: block;
        height: 100px;
        line-height: 33px;
        border-bottom: none;
    }
    .news-title{
        padding: 0px 0px 0px ;
        font-weight: bold;
        color: #FEA96B;
    }
    .news-text{
        display: inline;
        word-break: break-word;
        border-bottom: 2px solid #FEA96B;
    }
}
@media screen and (max-width: 450px){
    .news-contents{
        width: 65%;
        display: block;
        height: 120px;
        line-height: 33px;
        border-bottom: none;
    }
    .news-text{
        line-height: 2;
    }
}
@media screen and (max-width: 900px){
    .campaign-contents{
        display: block;
    }
    .campaign-flame{
        position: relative;
        /* display: inline-block; */
        width: 100%;
        /* background-color: rgb(254, 169, 107,50%); */
    }
    .campaign-content{
        width: 100%;
        height: 512px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        border-bottom-left-radius: 0px;
    }
    .campaign-box{
        padding: 50px 150px;
    }
}
@media screen and (max-width: 800px){
    .campaign-content{
        height: 562px;
    }
}
@media screen and (max-width: 800px){
    .campaign-content{
        height: 562px;
    }
    .campaign-box{
        padding: 50px 100px;
    }
}
@media screen and (max-width: 440px){
    .campaign-box{
        padding: 50px 50px;
    }
}